@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-primary-dark;
  }
  
  button {
    @apply text-primary hover:text-primary-dark transition-colors;
  }

  input:focus {
    @apply ring-2 ring-primary border-primary outline-none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-content, .print-content * {
    visibility: visible;
  }
  .print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  @page {
    size: auto;
    margin: 20mm;
    count: 1;
  }
}